body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
}

.overskrift {
    display: inline-flex;
    text-decoration: none;
    color: black;
    padding-left: 540px;
}

.under-overskrift {
    padding: 20px 0px 20px 10px;
}

#logo {
    padding: 20px;
    display: none;
}

ul {
    list-style: none;
    padding: 180px 0px 100px 5px;
    background-color: black;
    width: 120px;
    margin: 0;
    height: 600px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

li a{
    display: block;
    width: 50px;
    padding: 20px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
    width: 80px;
}

a {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
}

video {
    float: right;
    margin-right: 200px;
}

h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-variant-caps: all-small-caps;
    font-size: 50px;
    margin: -15px;
}

.wrap {
    background-color: white;
    height: 270px;
    width: 300px;
    margin: 340px 0px 0px 600px;
    z-index: 1;
    position: relative;
}

#bread-p {
    font-size: 12px;
    padding: 10px;
    width: inherit;
    height: inherit;
    position: inherit;
    z-index: 1;
}